@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin abs-pos {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

@mixin cover {
  opacity: 1;
  transition: opacity 1s;
  will-change: opacity;
  z-index: 0;
  @include abs-pos;
  @include size(100%);
}

@mixin background-cover {
  background-color: #222;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin background-preload($image) {
  $image-title: $image + "-bg@pre.jpg";
  background-image: url($image-title);
  @include background-cover;
}

@mixin background($image, $wide: false) {
  $image-1: $image + "-bg@x1.jpg";
  $image-1-w: $image + "-bg-w@x1.jpg";
  $image-2: $image + "-bg@x2.jpg";
  $image-2-w: $image + "-bg-w@x2.jpg";
  $image-3: $image + "-bg@x3.jpg";
  $image-3-w: $image + "-bg-w@x3.jpg";
  background-image: url($image-1);
  @include background-cover;

  @media screen and (orientation: portrait) {
    background-image: url($image-1);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url($image-2);
    }

    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi) {
      background-image: url($image-3);
    }
  }

  @if $wide == true {
    @media only screen and (orientation: landscape) {
      // @media /* Use x1 images for Desktop */
      //  (min-width: 468px) {
      background-image: url($image-1-w);
      // }
      @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 468px),
        (min-resolution: 192dpi) and (min-width: 468px) {
        background-image: url($image-2-w);
      }

      @media (-webkit-min-device-pixel-ratio: 3) and (min-width: 468px),
        (min-resolution: 350dpi) and (min-width: 468px) {
        background-image: url($image-3-w);
      }
    }
  }
}

@mixin main-content-format {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media screen and (min-width: 768px) {
    max-width: 730px;
  }
}

@mixin main-content-paddings {
  padding-left: 15px;
  padding-right: 15px;
}

@mixin cursor-pointer {
  cursor: pointer;
}

@mixin btn-visible {
  opacity: 1;
  transition: opacity 0.3s;
  will-change: opacity;
}

@mixin btn-hidden {
  cursor: auto;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
}
