$linksColor: #009688;
$linksColorHovered: #004d40;
$grayText: #777;
$borderColor: #80cbc4;
$linksHoverBackground: #ecf0f1;
/* Input colors */
$inputBorderColor: #bdc3c7;
$inputBorderColorFocus: #1abc9c;
$inputBackgroundColor: #fff;
$inputBackgroundColorFocus: #ecf0f1;
$inputErrorColor: #e74c3c;
