/* Colors */
$primaryColor: #16a085; ///gren
$primaryColorAccent: #1abc9c; // light green
$secondaryColor: #7f8c8d; // grey
$secondaryColorAccent: #95a5a6; // light grey
$ternaryColor: #bdc3c7; // silver
$ternaryColorAccent: #ecf0f1; // light silver
$textColor: #2c3e50; // dark blue
$textColorAccent: #34495e; // blue
$textColorInverse: #ecf0f1; // light silver
$dangerColor: #c0392b; // red
$errorColor: #e74c3c; // light red
$cleanColor: #fff; // white
/* Menu */
$linksColor: $textColorAccent;
$linksColorHovered: $textColor;
$grayText: $textColor;
$textDanger: $dangerColor;
$borderColor: $secondaryColorAccent;
$linksHoverBackground: $ternaryColorAccent;
/* Navigation */
$header-background: $primaryColor;
$header-shadow: rgba(0, 0, 0, 0.3);
$header-hero-background: #222;
$header-hero-shadow: rgba(0, 0, 0, 0.6);
$search-background: $cleanColor;
$title-color: $cleanColor;
$link-hover-background: $linksHoverBackground;
$curve-transition: cubic-bezier(0, 0, 0.3, 1);
/* Input colors */
$inputBorderColor: $secondaryColor;
$inputBorderColorFocus: $textColor;
$inputBackgroundColor: $cleanColor;
$inputBackgroundColorFocus: $textColorInverse;
$inputErrorColor: $errorColor;
