@import "../../styles/variables";

.stats {
  font-size: 21px;

  .stats__content {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 20px;

    &:last-child {
      border: none;
    }
  }

  .stats__item {
    list-style: none;
    padding-left: 50px;
  }
}
